<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST ELECTRONICS</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST ELECTRONICS</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Add Item</h1>
      </div>
      <div class="item-form-wrapper">
        <form method="post" action="/insert">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" />
          </div>
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" name="color" id="color" />
          </div>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" name="brand" id="brand" />
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price" id="price" />
          </div>
          <input type="submit">
        </form>

      </div>
  </body>
</html>