<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LIST</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/send_url.js"></script>
</head>

<body>
  <header>
    <a href="/" class="header-logo">LIST</a>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Edit Item</h1>
    </div>
    <div class="item-form-wrapper">
      <form method="post" action="/update/<%= list.id %>">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" id="name" value="<%= list.name %>" />
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <input type="text" class="form-control" name="color" id="color" value="<%= list.color %>" />
        </div>
        <div class="form-group">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" name="brand" id="brand" value="<%= list.brand %>" />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" name="price" id="price" value="<%= list.price %>" />
        </div>
        <input type="submit" value="Update">
      </form>
    </div>
    </table>
</body>

</html>