<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LIST ELECTRONICS</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/send_url.js"></script>
</head>

<body>
  <header>
    <a href="/" class="header-logo">LIST ELECTRONICS</a>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Shopping List</h1>
      <!-- Add a link to the create page -->
      <a href="/create" class="new-button">+ Add item</a>
    </div>
    <table class="table-head">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Color</th>
        <th>Brand</th>
        <th>Price</th>
      </tr>
      <% list.forEach((electronic) => { %>
      <tr>
        <td class="id-column"><%= electronic.id %></td>
        <td class="name-column"><%= electronic.name %></td>
        <td class="color-column"><%= electronic.color %></td>
        <td class="brand-column"><%= electronic.brand %></td>
        <td class="price-column"><%= electronic.price %></td>
        <td class="item-menu">
          <form action="/delete/<%= electronic.id %>" method="post">
            <input type="submit" value="Delete">
          </form>
          <form action="/edit/<%= electronic.id %>" method="get">
            <input type="submit" value="Edit">
          </form>
        </td>
      </tr>
      <% }) %>
    </table>
  </div>
</body>

</html>